:root {
  --blue: #0006A2;
  --black: #000000;
  --white: #ffffff;
  --gray-dark: #B5B5B5;
  --gray-light: #ECECEC;
}

@font-face {
  font-family: SF-Pro; 
  src: url(/font/SF-Pro.ttf);
}

body {
  background-color: var(--black);
  margin: 0;
  font-family: SF-Pro, sans-serif;
}
